@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Cormorant+Garamond:wght@400;700&family=Allison&display=swap');
@import "tailwindcss";

@theme {
  --font-lora: "Lora", serif;
  --font-cormorant: "Cormorant Garamond", serif;
  --font-allison: "Allison", cursive;
}
