@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Cormorant+Garamond:wght@400;700&family=Allison&display=swap');
@import "tailwindcss";

@theme {
  --font-lora: "Lora", serif;
  --font-cormorant: "Cormorant Garamond", serif;
  --font-allison: "Allison", cursive;

  --color-burgundy: #800020;
  --color-ivory: #FFFFF0;
  --color-champagne: #F7E7CE;
  --color-gray: #949393;
}